@import 'https://fonts.googleapis.com/css?family=Lato:400,300';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:700,400,400italic';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';



:root{
    --ff: 'Titillium Web', sans-serif;
    --cubic: cubic-bezier(0.19, 1, 0.22, 1);
  --cubic-2:cubic-bezier(0.86, 0, 0.07, 1);
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

.wrapper{
    display: flex;
   
}
.temp{
    margin-left: 40px;
    margin-top: 40px;
}
.logo1{
    text-align: center;
    flex-grow: 40 ;
    flex-basis: 20rem;
   margin-top: 25px;
}

.logo2{
  margin-right: 15px;
}
.dre-nav-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
nav, ul {
    display: flex;
    flex-direction: row;
     align-items:center;
    justify-content: space-evenly; 
}
.dre-nav-bar>li>a {
    display: flex;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    /* 1 */
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    /* 2 */
    color: #000000;
    font-size: 16px;
    font-family: "Playfair Display";
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
}

.dre-nav-bar:hover>li>a {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}
.dre-nav-bar:hover>li>a:hover {
    color: #000000;
}

.slider{
    position: relative;
    overflow: hidden;
}
.slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: transform 500ms var(--cubic-2), margin-left 500ms var(--cubic);
}
.slider-container:hover {
    cursor: -webkit-grab;
    cursor: grab;
}
.slide {
    height: 100%;
    min-height:70rem;
    font-family: var(--ff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: capitalize;
    color: ivory;
}
.slide:nth-child(1){
    background-image: url(../img/first-slide.jpg);
    background-size:  cover;                   
    background-repeat:   no-repeat;
    background-position: center center;   
}
.slide:nth-child(2){
    background-image: url(../img/second-slide.jpg);
    background-size:  cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
}
.slide:nth-child(3){
    background-image: url(../img/third-slide.jpg);
    background-size:  cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
}
.overlay1, .overlay2, .overlay3{
background-color: rgba(255, 255, 255, 0.493);
color: #0d3678;
    font-size: 42px;
    font-family: "Playfair Display";
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
}
.sub1{
    color: #0d3678;
    font-size: 12px;
    font-family: "Playfair Display";
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
}
/* .overlay2{
    background-color: rgba(255, 255, 255, 0.493);
    color: #0d3678;
        font-size: 42px;
        font-family: "Playfair Display";
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
    }
    .overlay3{
        background-color: rgba(255, 255, 255, 0.493);
        color: #0d3678;
            font-size: 42px;
            font-family: "Playfair Display";
            font-weight: 400;
            letter-spacing: 0;
            text-transform: uppercase;
        } */
h2{
    padding: 60px;
}
.dot-container {
    position: absolute;
    bottom: 15%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot:not(:last-child){
    margin-right: 0.5rem;
}

.dot::before{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: initial;
    transition: background-color 300ms;
}
.dot:hover::before{
    cursor: pointer;
    background-color: #fff;
}
.dot.active::before{
    background-color: #fff;
}

h1{
    font-size: 4.8rem;
}



@media (max-width: 650px){
    .slider{
        margin-bottom: 40px;
        background-position: contain;
    height: 40rem;
    
}.slide1{
    background-position: contain;
}.slide3{
    background-position: cntain;
} li{
    display: none;
}.placehoder{
display: flex;
margin-top: 20px;
margin-left: 5px;
justify-content: center;
color: black;
height: 3rem;
background-color: rgb(0, 0, 0);
}h2,.overlay1{
    background-color: rgba(255, 255, 255, 0.767);
  position: absolute;
  top:100px;
    text-align: center;
    color: navy;
        font-size: 19px;
        font-family: "Playfair Display";
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
    }h2,.overlay2{
    background-color: rgba(255, 255, 255, 0.767);
  position: absolute;
  top:100px;
    text-align: center;
    color: navy;
        font-size: 19px;
        font-family: "Playfair Display";
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
    }h2,.overlay3{
    background-color: rgba(255, 255, 255, 0.767);
  position: absolute;
  top:100px;
    text-align: center;
    color: navy;
        font-size: 19px;
        font-family: "Playfair Display";
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
    }
.wrapper{
    background-image: url(../img/logo.png);
    height: 8rem;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}.logo1{
  display: none;
}.logo2{
    display: none;
}table{
    display: none;
}.placehoder{
    display: flex;
}
}

.card_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));
  margin: 0 auto;
  max-width: 1024px;
  padding: 50px 28px;
  grid-gap: 37px;
  align-items: center;
}

.card {
  display: block;
  transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  background-color: skyblue;
  border-radius: 4px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 240px;
  cursor: pointer;
}
.card1{
background-image: url(../img/square-wetslip.jpg);
background-repeat: no-repeat;  
background-position: 0% 0%;
background-size: 100% 100%;
}
.card2{
    background-image: url(../img/square-storage.jpg);
    background-repeat: no-repeat;  
background-position: 0% 0%;
background-size: 100% 100%;
    
    }
    .card3{
        background-image: url(../img/square-repair.jpg);
        background-repeat: no-repeat;  
background-position: 0% 0%;
background-size: 100% 100%;
        
        }
        .card4{
            background-image: url(../img/square-store.jpg);
            background-repeat: no-repeat;  
background-position: 0% 0%;
background-size: 100% 100%;
            
            }
            .card5{
                background-image: url(../img/square-rentals.jpg);
                background-repeat: no-repeat;  
background-position: 0% 0%;
background-size: 100% 100%;
                
                }
                .card6{
                    background-image: url(../img/get-hooked-logo-full.png),url(../img/square-restaurant.jpg);
                    background-repeat: no-repeat;  
background-size: 68%, 160%;
background-position:  center;
                    
                    }
.wetcard{
    color: rgba(255, 255, 255, 0.5);
text-align: center;
line-height: 240px;
}
.card:hover {
  transform: scale(1.03);
}


.footertitle{
  margin-bottom: 25px;
    font-family: 'Playfair Display';
    font-size: 4rem;
    font-weight: 400;
    color: #6c7fac;
    text-transform: none;
    text-align: center;
}
.fb_icon{
display: flex;
margin-left: 10%;
justify-content: center;
align-items: center;
align-content: center;
}

/* #rope{
    margin-top: 15px;
    background-color: white;
    background-repeat: repeat-x;
    background-repeat: repeat;
} */
#rope{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 2rem;
    background-image: url(../img/ropeboarder.png);
    background-repeat: repeat-x;
    margin-top: 25px;
    display: block;
    width: 640px;
    height: 20px;
/*     
    border: medium none;
    height: 17px; */
}
@media (max-width: 650px){
    #rope{
        width: 350px;
    }
}


.dock{
        background-color: #08234c;
        /* padding: 40px 0;*/
        
}

.marinefooter{
    /* margin-top: 40px; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.c1, .c2, .c3{
    margin-top: 30px;
    font-family: 'Roboto' ;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    color: #ffffff;
    opacity: 40.0%;
} 
.c4{
    margin-top: 30px;font-family: 'Roboto' ;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    color: #ffffff;
    opacity: 40.0%;
    padding-bottom: 50px;
}
.column{
    padding-top: 50px !important;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-count: 3;
-moz-column-gap: 16px;
-webkit-column-count: 3;
-webkit-column-gap: 16px;
column-count: 3;
column-gap: 14%;
}
.card{
        align-items: center;
        color: navy;
        font-size: 12px;
        font-family: "Playfair Display";
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
        text-align: center;
        line-height: 240px;
}

p{
    display: flex;
    background-color: rgba(255, 255, 255, 0.671);
    font-family: 'Lato';
    font-size: 16px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 19rem;
    margin-top: 80px;
    margin-left: 50px;
}

@media (max-width: 650px){
    p{
        height: 60px;
        width: 19rem;
        margin-top: 80px;
        margin-left: 100px
      
    }
}

.wet3{
    font-size: 14px;
}
@media (max-width: 2000px) ,(min-width:700px){
.menu, .menuicon {
     display: none;
 }
 input, #hamburger{
     display: none;
 }
}


@media (max-width: 650px){
#hamburger {
    display: none;
  }
  
  .menu {
    display: block;
    background-color: rgb(24, 23, 34);
    width: 0px;
    height: 100vh;
    overflow: hidden;
    z-index: 1; 
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .menu .sub {
    padding-left: 10px;
  }
  .menu .sub #tube {
    font-size: 24pt;
    padding: 10px 0;
    margin-top: 50px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
  }
  .menu .sub #tube a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .menu .sub #tube a:hover {
    color: grey;
  }
  
  .menuicon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    cursor: pointer;
    height: 21px;
    width: 25px;
  }
  .menuicon span {
    display: block;
    top: 8px;
    width: 25px;
    height: 5px;
    background-color: #000;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .menuicon span::after, .menuicon span::before {
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0;
    -moz-transition-delay: 0.2s, 0;
    -ms-transition-delay: 0.2s, 0;
    -o-transition-delay: 0.2s, 0;
    transition-delay: 0.2s, 0;
  }
  .menuicon span::before {
    margin-top: -8px;
  }
  .menuicon span::after {
    margin-top: 8px;
  }
  
  #hamburger:checked ~ .menu {
    width: 650px;
  }
  
  #hamburger:checked ~ .menuicon span {
    background-color: rgba(255, 255, 255, 0);
  }
  #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
    margin-top: 0px;
    -webkit-transition-delay: 0, 0.2s;
    -moz-transition-delay: 0, 0.2s;
    -ms-transition-delay: 0, 0.2s;
    -o-transition-delay: 0, 0.2s;
    transition-delay: 0, 0.2s;
  }
  #hamburger:checked ~ .menuicon span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #hamburger:checked ~ .menuicon span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}